body {
    font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /*From Astro Starlight*/
    margin: 0;
    background-color: #0c0c0c;
    color: #fff;
    line-height: 1.5;
    font-size: 1.125em;
}
p {
    color: #e7e7e7;
}
li {
    color: #e7e7e7;
}
blockquote {
    margin: 0;
    border: solid 1px #ff77bbaa;
    border-radius: 15px;
    padding: 8px 16px;
    background-color: #ff77bb0c;
    padding-top: 0;
    padding-bottom: 0;
}
blockquote p {
    margin: 8px 0;
}
a {
    color: #5bf;
}
.container {
    display: grid;
    grid-template-columns: 350px 1fr;
}
.sidebar {
    border-right: 1px solid #191a1f;
    margin: 0;
    padding: 6px;
    line-height: 1.375;
}
.main-content {
    text-align: left;
    padding: 16px;
    max-width: 800px;
    a.dead {
	color: #38c;
	text-decoration: none;
    }
}
.sidebar-link,.sidebar-section {
    display: block;
    padding: 0;
    margin: 0;
    color: #aaa;
    text-decoration: none;
}
.sidebar-section-active {
    color: #b15483;
    font-weight: bold;
}
.sidebar-link:hover,.sidebar-section:hover {
    cursor: pointer;
    color: #fff;
}
.inline {
    display: inline;
}
table {
    border-collapse: collapse;
    margin: 16px 0;
}
th, td {
    border: 0.5px solid #666;
    padding: 8px;
    text-align: center;
    min-width: 60px;
}
h1 {
    font-size: 2em;
    margin: 16px 0;
}
h2 {
    font-size: 1.6em;
    margin: 16px 0;
}
h3 {
    font-size: 1.4em;
    margin: 16px 0;
}
h4 {
    font-size: 1.2em;
    margin: 16px 0;
}
pre {
    background-color: #151616;
    padding: 16px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 1.125em;
    code {
	font-size: 1em;
    }
}
code {
    background-color: #151616;
    font-size: 1.125em;
    padding: 2px 2px 0px 2px;
    margin: 0;
    border: none;
}

@media print {
    body {
	background-color: #fff;
	color: #000;
    }
    .sidebar {
	display: none;
    }
    .main-content {
	max-width: none;
	width: 100%;
    }
}

/* make grid 1 column by 2 rows on small screens */
@media (max-width: 950px) {
    .container {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
    }
    .sidebar {
	border-right: none;
	border-bottom: 1px solid #191a1f;
    }
}

