@font-face {
  font-family: 'JetBrainsMono';
  /* Use a relative path to the local font file in `url()`. */
  src: url('./jetbrains-mono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
