---
import EditLink from 'virtual:starlight/components/EditLink';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
import Pagination from 'virtual:starlight/components/Pagination';
import { Card, CardGrid, Icon } from '@astrojs/starlight/components';
import config from 'virtual:starlight/user-config';
const { editUrl } = Astro.locals.starlightRoute;
---

<footer class="sl-flex">
    <br/>
    <div class="meta">
	<Pagination />
    </div>
    <br/>
    <div>
	dylancode.dev has over 450 articles and is still rapidly growing. Please do
	feel free to
	{ editUrl && (    <a href={editUrl}><b>edit this page</b></a> )
	}!
	<br/>
	I've put 200+ hours into our resources. Please
	contact me if you wish to use any content commercially.<br/>
	All queries, concerns and suggestions are welcome, you can contact me
	at <a href="mailto:docs@dylancode.dev"><b>docs@dylancode.dev</b></a>.
    </div>
    <div>
	<a href="https://github.com/sponsors/dylanopen/sponsorships?sponsor=dylanopen&frequency=recurring&amount=2">
	     If you find dylancode.dev useful, even a
	     <b>tiny donation</b> would help keep it free and ad-free.
	     <br/>
	     I don't believe in advertising, so your support truly does
	    mean everything for the site! ❤️
	</a>
    </div>
</footer>

<style>
    @layer starlight.core {
	footer {
	    flex-direction: column;
	    gap: 1.25rem;
	    color: var(--sl-color-gray-4);
	}
	.meta {
	    gap: 0.75rem 1rem;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    margin-top: 0rem;
	    font-size: var(--sl-text-sm);
	    color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
	    margin-inline-start: auto;
	}

	.kudos {
	    align-items: center;
	    gap: 0.5em;
	    margin: 1.5rem auto;
	    font-size: var(--sl-text-xs);
	    text-decoration: none;
	    color: var(--sl-color-gray-3);
	}
	.kudos:hover {
	    color: var(--sl-color-white);
	}

	.icon {
	    color: red;
	}
    }

    @layer starlight.components {
	.kudos :global(svg) {
	    color: var(--sl-color-orange);
	}
    }
</style>
