mjx-container svg {
    display: inline !important;
    text-align: left !important;
}

:root[data-theme='dark'],
[data-theme='dark']
mjx-container svg {
	color: #b3c7ff;
}

:root[data-theme='light'],
[data-theme='light']
mjx-container svg {
	color: #3d50f5;
}

@media print {
    mjx-container svg {
	color: #000 !important;
    }
}

